{% extends "pages/page_nosidebars.html" %}

{% load mezzanine_tags geoanalytics_tags pages_tags %}
{% set_page_permissions %}

{% block main %}
    <div class="row">
        {% page_menu 'pages/menus/datasets_menu.html' %}
    </div>

    <div class="row">
        <div class="span6">
            {% if page.catalogpage.siblings %}
                <h2><a href="/{{ page.parent.slug }}">{{ page.parent.title }}</a></h2>
                <ul class='nav nav-list'>
                    {% for child in page.catalogpage.siblings %}
                        <li {% ifequal child page %}class='active'{% endifequal %}>
                            <a href="/{{ child.slug }}">{{ child.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="span6">
            {% if page.children %}
                <h2>{{ page.title }}</h2>
                <ul class="nav nav-list">
                    {% for child in page.children.all %}
                        <li>

                        {% ifequal child.status 2 %}
                        <a href="/{{ child.slug }}" {% ifequal child.content_model 'catalogpage' %}style='color:#860;'{% endifequal %}>
                            {% ifequal child.content_model 'catalogpage' %}
                                <i class="icon-briefcase"> </i>
                            {% else %}
                                <i class="icon-desktop"> </i>
                            {% endifequal %}
                            {{ child.title }}</a>
                        {% else %} 
       
                        {{ child.title }}
                        {% endifequal %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <hr>

    {% if perms.page.add %}
        {% subpage_button %}
    {% endif %}

    <div class="btn-group">

    {% if page.perms.delete %}
        <a class="btn btn-danger" href="/ga_resources/deletepage?slug={{ page.slug }}"><i class="icon-trash"></i> Delete</a>
    {% endif %}
    </div>

{% endblock %}
