[submodule "ga_ows"]
	path = ga_ows
	url = https://github.com/JeffHeard/ga_ows.git
[submodule "ga_resources"]
	path = ga_resources
	url = https://github.com/JeffHeard/ga_resources.git
[submodule "django_docker_processes"]
	path = django_docker_processes
	url = https://github.com/JeffHeard/django_docker_processes
