{% extends "tryptich.html" %}

{% block lead %}
    TerraHub is an easy-to-use <span style="color: #9f0000">flexible</span> <span style="color:#006f04">real-time</span> <span style="color:#2a41bd">intelligent</span> mapping platform for teams.
{% endblock %}

{% block headings %}
    <div class="span6">
        <h2>Real Estate</h2>
        <p><b>If you're a real-estate attorney</b>, TerraHub manages the workflow of you deal, dramatically reducing
        risk while saving you time and money.</p>
        <p><b>If you're a broker</b>, TerraHub helps you manage your property catalog and keep all your field agents up to
        date. </p>
    </div>
    <div class="span6">
        <h2>Research</h2>
        <p>Research
            teams are more than ever cross-institutional.  Collaboration tools that fit your
            workflow are more important than ever to doing effective research.TerraHub works with researchers in the social sciences, public policy, environmental sciences, and decision
            support fields. We provide intelligent, real-time mapping for modern academic teams. </p>
    </div>
{% endblock %}